/* import google fonts (Poppins) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Niconne&display=swap');


/* base styles */
:root{
    --body-font: 'Poppins', sans-serif;
    --cursive-font: 'Niconne', cursive;
}

*{ box-sizing: border-box; }

body{ margin: 0; }

section{ padding: 0 20px; }

.container{
    max-width: 1200px;
    margin: 0 auto;
}



/* Home section style */
.home{
    background: #2D25A0;
    animation: changeBackground 6s ease infinite;
}
@keyframes changeBackground {
    50%{ background: rgb(0, 65, 218); }
}
.home .container{
    height: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.left-side, .right-side{
    display: flex;
    align-items: center;
}
.home-title{
    color: white;
    font-family: var(--body-font);
    font-size: 64px;
    font-weight: 700;
    margin: 0 0 27px;
}
.home-button-wrapper{
    display: inline-block;
    border: 2px solid #E02C6D;
}
.home-button{
    display: inline-block;
    text-decoration: none;
    background: #E02C6D;
    color: white;
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 500;
    border: 0;
    margin: 0;
    padding: 10px 24px;
    transform: translate(5px, 7px);
    transition: transform 200ms linear;
}
.home-button:hover{
    transform: translate(0);
}
.home .banner img{
    width: 100%;
    max-height: 100%;
    transform-origin: left bottom;
    transition: 500ms ease-in-out;
}
.home:hover .banner img{
    transform: rotate(2deg);
}




/* players section style */
.players .container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 70px;
}
.player{
    width: 330px;
    padding: 15px 15px 33px;
    margin: 0 5px 27px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}
.player-photo{
    overflow: hidden;
}
.player-photo img{
    width: 100%;
    display: block;
    transition: 1s ease;
}
.player:hover img{
    transform: scale(1.2);
}
.player-name{
    color: #18191f;
    font-family: var(--body-font);
    font-size: 28px;
    font-weight: 700;
    margin: 16px 0 10px;
}
.player-about{
    color: #6c6c6c;
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}








/* photo album styles */
.album{ padding: 0 20px;}
.album-heading{
    text-align: center;
    font-size: 50px;
    font-family: var(--body-font);
    font-weight: 700;
    color: #2D25A0;
    margin: 100px 0 50px;
}
.album .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.photo-wrapper{
    position: relative;
    overflow: hidden;
}
.photo-wrapper::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 400ms ease;
}
.photo-wrapper:hover::after{
    opacity: 0;
}
.album img{
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 600ms linear;
}
.photo-wrapper:hover img{
    transform: scale(1.1);
}
#photo3{ grid-row: span 2; }
#photo5{ grid-column: span 2; }






/* last section styles */
.last-sect{ padding: 150px 0 100px; }
.last-sect .container{
    display: flex;
    max-width: 100%;
}
.last-sect .container > div{
    width: 33.33333333%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    color: lightgray;
    font-family: var(--body-font);
}
.last-sect h2{
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 20px;
}
.last-sect b{
    color: white;
}
.last-sect p{
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 30px;
}
.last-sect a{
    text-decoration: none;
    text-transform: uppercase;
    color: lightgray;
    font-size: 18px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 30px;
    transition: 300ms;
}
.last-sect a:hover{
    background: lightgray;
    color: rgb(58, 58, 58);
}
#item1{
    background: url('img/back-football.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#item2{
    background: url('img/stadium.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#item3{
    background: url('img/shoes.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}








/* footer style */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 65px;
}
footer div:first-of-type{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.footer-image{
    width: 250px;
}
.footer-title{
    color: #10437A;
    font-family: var(--cursive-font);
    font-size: 72px;
    font-weight: 400;
    margin: 0;
}
.social-icons{
    margin-bottom: 20px;
}
.icon-wrapper{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #E7E7E8;
    color: #10437A;
    font-size: 13px;
    border-radius: 50%;
    padding: 5px;
    margin-left: 14px;
    margin-right: 14px;
    cursor: pointer;
    transition: 500ms ease;
}
.icon-wrapper:hover{
    background: #10437A;
    color: white;
}
.copyright{
    font-size: 18px;
    font-family: var(--body-font);
    font-weight: 400;
}





/* media queries */
@media only screen and (max-width: 992px) {
    .home-title{ font-size: 45px; }


    
    .album-heading{ font-size: 40px; }

    .album .container{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    #photo3{ grid-row: 3 / span 2;}
    #photo5{ grid-row: 2;}



    .last-sect .container{ flex-direction: column;}
    .last-sect .container > div{ width: 100%; }
}



@media only screen and (max-width: 600px) {
    section{ padding: 0; }

    .home .container {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, calc(50% - 10px));
        padding: 16px;
    }

    .home-title{ font-size: 36px; }

    .right-side{ justify-content: center; }
    
    .home .banner img{
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .players .container{padding-top: 50px;}


    .album-heading{ font-size: 30px; }


    .footer-image{ width: 150px; }
    .footer-title{ font-size: 30px; }
    .icon-wrapper{ margin: 0 5px;}
}
